# build artifacts
bin/
obj/
.vs/
*.user
*.suo

# OS/IDE
.DS_Store
Thumbs.db

# logs
*.log

# dotenv / секреты
.env
.env.*
*.env

# SQLite DB files (не хранить БД в гите)
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# Publish output
publish/

# Node.js dependencies
node_modules/
npm-debug.log
package-lock.json

# Docker image archives
*.tar
